*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

.my-text-secondary{
    color: rgb(185, 184, 184);
}

.myFontFamily{
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

.myFontFamily2{
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////// Navbar ////////////////////// */

.navbar_links_container a{
    text-decoration: none;
    color: white;
    position: relative;
}

.navbar_links_container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -23px;
    width: 0%;
    height: 4px;
    background-color: white;
    transition: 0.3s ;
}

.navbar_links_container a:hover::after {
    width: 100%;
}

.navbar_links_container a.active::after {
    width: 100%;
}

.navbar_hr{
    width: 35%;
    position: relative;
}

.navbar_hr hr{
    position: absolute;
    width: 100%;
    top: -15px;
    right: -32px;
    z-index: 2;
}

.navbar_links_container{
    backdrop-filter: blur(40px);
    background-color: rgba(93, 93, 93, 0.1);
}

/* ////////////////// Home ////////////////////// */

.home_section{
    background-image: url(./../public/images/home/background-home-desktop.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.home_container{
    padding-top: 230px;
}

.home_title{
    font-size: 130px;
}

.home_paragraph2{
    width: 50%;
}

.home_explore{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 110px;
}

/* ////////////////// Destination ////////////////////// */

.destination_section{
    background-image: url(./../public/images/destination/background-destination-desktop.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.destination_container{
    padding-top: 160px;
}

.destination_title{
    font-size: 70px;
}

.destination_img{
    width: 410px ;
}

.destination_content{
    width: 75%;
}

.destination_button_container a{
    position: relative;
}

.destination_button_container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: 0.3s ;
}

.destination_button_container a:hover::after {
    width: 100%;
}

.destination_button_clicked::after{
    width: 100% !important;
}


/* ////////////////// Crew ////////////////////// */


.crew_section{
    background-image: url(./../public/images/crew/background-crew-desktop.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.crew_container{
    padding-top: 160px;
}

.crew_paragraphs_width{
    width: 85%;
    margin-bottom: 90px;
}

.crew_title{
    font-size: 45px;
}

.crew_content_container{
    height: calc(100vh - 202px);
}

.swiper-pagination-bullet {
    background-color: white !important;
    width: 14px !important;
    height: 14px !important;
    margin: 0 10px !important;
}

.swiper-pagination {
    left: 50px !important;
    bottom: 95px !important;
    text-align: left !important;
}


/* ////////////////// Technology ////////////////////// */


.technology_section{
    background-image: url(./../public/images/technology/background-technology-desktop.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.technology_container{
    padding-top: 160px;
}

.technology_content_container{
    width: 95%;
}

.technology_buttons{
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.technology_buttons_paragraph{
    position: absolute;
    z-index: 2;
}

.technology_buttons::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    z-index: 1 !important;
}

.technology_buttons:hover .technology_buttons_paragraph{
    color: black !important;
    transition: 0.3s ease-in-out;
}

.technology_buttons:hover::after {
    transform: scale(1);
}

.technology_buttons_clicked::after{
    transform: scale(1) !important;
}

.technology_buttons_clicked .technology_buttons_paragraph{
    color: black !important;
}

.technology_img{
    width: 430px;
}

.technology_title{
    font-size: 50px;
}

/* ////////////////// Page Not Found ////////////////////// */

.error_section{
    width: 100vw;
    height: 100vh;
}

.error_container{
    padding-top: 170px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*/////// XL ////////*/
@media (max-width:1200px){

    .home_paragraph2{
        width: 70%;
    }


    .swiper-pagination {
        bottom: 70px !important;
    }


    .technology_content_container{
        width: 100%;
    }

    .technology_title{
        font-size: 40px;
    }

    .technology_img{
        width: 400px;
    }
}

/* ////// lg /////// */
@media (max-width:992px){

    .home_section{
        background-image: url(./../public/images/home/background-home-tablet.jpg);
        width: auto;
        height: auto;
    }

    .home_container{
        padding-top: 180px;
    }

    .home_explore{
        margin-top: 80px;
    }


    .destination_section{
        background-image: url(./../public/images/destination/background-destination-tablet.jpg);
        width: auto;
        height: auto;
    }


    .crew_section{
        background-image: url(./../public/images/crew/background-crew-tablet.jpg);
        width: auto;
        height: auto;
    }

    .crew_paragraphs_width{
        width: 90%;
        margin-bottom: 0px;
    }

    .crew_content_container{
        height: auto;
    }

    .crew_img{
        width: 400px;
        height: 460px;
    }

    .swiper-pagination {
        left: 0px !important;
        bottom: 0px !important;
        text-align: center !important;
    }


    .technology_section{
        background-image: url(./../public/images/technology/background-technology-tablet.jpg);
        width: auto;
        height: auto;
    }

    .technology_container{
        padding-top: 140px;
    }

    .technology_img{
        width: 600px;
    }

}

/* ////// md /////// */
@media (max-width:768px){
    .crew_img{
        width: 380px;
        height: 440px;
    }

    .crew_container{
        padding-top: 140px;
    }


    .technology_img{
        width: 450px;
    }
}

/* ////// Sm /////// */
@media (max-width:576px){
    
    .navbar_links_container a::after {
        bottom: -1px;
    }
    .navbar_links_container a:hover::after {
        width: 25%;
    }
    .navbar_links_container a.active::after {
        width: 25%;
    }


    .home_section{
        background-image: url(./../public/images/home/background-home-mobile.jpg);
        width: auto;
        height: auto;
    }

    .home_container{
        padding-top: 130px;
    }

    .home_title{
        font-size: 90px;
    }

    .home_explore{
        height: 190px;
        width: 190px;
    }



    .destination_section{
        background-image: url(./../public/images/destination/background-destination-mobile.jpg);
        width: auto;
        height: auto;
    }

    .destination_container{
        padding-top: 110px;
    }

    .destination_img{
        width: 250px;
    }

    .destination_content{
        width: 100%;
    }


    .crew_section{
        background-image: url(./../public/images/crew/background-crew-mobile.jpg);
        width: auto;
        height: auto;
    }

    .crew_img{
        width: 280px;
        height: 340px;
    }

    .crew_container{
        padding-top: 110px;
    }


    .technology_section{
        background-image: url(./../public/images/technology/background-technology-mobile.jpg);
        width: auto;
        height: auto;
    }

    .technology_container{
        padding-top: 110px;
    }

    .technology_img{
        width: 300px;
    }
}