*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.myFontFamily{
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

.myFontFamily2{
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*/////// XL ////////*/
@media (max-width:1200px){
    
}

/* ////// lg /////// */
@media (max-width:992px){
    
}

/* ////// md /////// */
@media (max-width:768px){
    
}

/* ////// Sm /////// */
@media (max-width:576px){
    
}